<div class='parent-container'>
  <header class='page-header'>
    <h1>Demo App: v8.11.0</h1>
  </header>

  <div class='grid'>
    <aside class='page-sidebar'>
    </aside>

    <main class='main-content'>
      <div
        {{did-insert this.initializeViewer}}
        id='ScrollContainer'
        class='scroll-container'
      >
        <div id='ViewerContainer' class='viewer-container'></div>
      </div>
    </main>
  </div>
</div>